
# HTID:12063491: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:12063491:

# BEGIN WordPress
# Las directivas (líneas) entre `BEGIN WordPress` y `END WordPress` son
# generadas dinámicamente, y sólo debe ser modificadas a través de los filtros de WordPress.
# Cualquier cambio en las directivas entre estos marcadores se sobrescribirá.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress